<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Appointment</title>
</head>
<body>
  <h1>Add Appointment</h1>

  <a href="/">Home</a>
  <a href="/appointments">View Appointments</a>

  <br><br>

  <form method="POST">
    <label>Client:</label>
    <select name="client_id" required>
      {% for client in clients %}
      <option value="{{ client.client_id }}">{{ client.name }}</option>
      {% endfor %}
    </select>

    <br><br>

    <label>Employee:</label>
    <select name="employee_id" required>
      {% for employee in employees %}
      <option value="{{ employee.employee_id }}">{{ employee.name }}</option>
      {% endfor %}
    </select>

    <br><br>

    <label>Service:</label>
    <select name="service_id" required>
      {% for service in services %}
      <option value="{{ service.service_id }}">{{ service.service_name }}</option>
      {% endfor %}
    </select>

    <br><br>

    <label>Date:</label>
    <input type="date" name="appointment_date" required>


    <br><br>

    <label>Time:</label>
    <input type="time" name="appointment_time" required>

    <br><br>

    <label>Status:</label>
    <select name="status" required>
       <option value="Scheduled">Scheduled</option>
       <option value="Completed">Completed</option>
       <option value="Cancelled">Cancelled</option>
    </select>

    <br><br>

    <button type="submit">Add Appointment</button>
  </form>

</body>
</html>
